#contact{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 100px;
}
.home-sci{
    bottom: 40px;
    width: 45%;
    display: flex;
    justify-content: space-between;

    gap: 20px;
}


.home-sci a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
    background: transparent;
    /* border: 4px solid rgb(20, 32, 159); */
    border: 4px solid rgba(253,187,45,1);
    border-radius: 50%;
    font-size: 60px;
    color: whitesmoke;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.home-sci a:hover{
    font-size: 75px;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    /* background: rgb(20, 32, 159); */
    background: rgba(253,187,45,1);
    z-index: -1;
    transition: 0.5s;

}



.home-sci a:hover::before{
    width: 100%;
}

.contact-wrap:hover> :not(:hover){
    filter: blur(2px);
    opacity: 0.5;
}
